.containerMain{
  width: 70vw;
  margin: 5vh;
}
.scroll{
  overflow: auto;
  max-height: 50vh;
}
.css-1mlk332-MuiButtonBase-root-MuiFab-root{
  position: absolute !important;
  top: 8px;
  right: 5px;
}