@import '../../vars.scss';

.card-body{
    background-color: #fff;
<<<<<<< HEAD
    width: 30vw;
}
.separator{
    margin: 0;
    background-color: rgb(154, 154, 154);
    color: rgb(154, 154, 154);
}
.hr{
    transition: $transition;
    width: 100%;
    background-color: #ececec;
    height: 1px;
    display: block;
=======
    border-left: 4px solid $main-color;
>>>>>>> parent of e2f7a06 (cositas)
}