@import '../../vars.scss';
button.rounded-button{
    transition: $transition;
    background: $main-color;
    border: 1px solid $main-color;
    border-radius: 32px;
    padding: 12px 24px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}