@import '../../vars.scss';
div.postBody{
    letter-spacing: 0.02px;
    line-height: 1.2;
    display: block;
    width: 500px;
    color: black;
    background-color: #fff;
    border-left: 4px solid $main-color;
}
table.postBody{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey
}
tbody.postBody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr.postBody{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td.postBody{
    font-size: 1rem;
    width: 100%;
}